@import url("https://fonts.googleapis.com/css?family=Prompt");

body {
  background-color: whitesmoke;
}

.App {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Prompt', sans-serif;
}

#clock {
  width: 230px;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: whitesmoke;
  font-size: 1em;
  background: url('./img/tomato.png');
  background-repeat: no-repeat;
  background-position: center -20px;
  background-size: 220px 220px;
}

#time-left {
  font-size: 3em;
}

header {
  background-color: grey;
  width: 100vw;
  color: white;
  font-size: 1.8em;
  padding: 10px;
}

.control {
  height: 50px;
  width: auto;
}

#labels {
  display: flex;
  flex-direction: row;
}

#pomodoro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.button {
  height: 25px;
  width: auto;
  padding: 10px;
}


[id$="crement"] {
  height: 10px;
  width: auto;
}

#break {
  display: flex;
  align-items: center;
  justify-content: center;
}

#session-length, #break-length {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

fieldset {
  border-radius: 5px;
}